In [5]:
#%pip install pandas
#%pip install networkx
#%pip install cx_Oracle
#%pip install openpyxl

In [6]:
import networkx as nx
import pandas as pd
import cx_Oracle
import openpyxl

In [7]:
# Definiciones globales

%run ../Lib/pandas_options.py
%run ../Lib/define_constantes.py

In [8]:
#inicializamos cliente oracle
cx_Oracle.init_oracle_client(lib_dir=r"C:/oracle/instantclient_23_5")

In [9]:
#ejecutar conexión SIGMA
%run ../Lib/conn_sigma_aguas.py

#### Extracción y guardado de los Datos Tramos para el Grafo

In [10]:
# Leer el archivo SQL para construcción del grafo
with open('../Lib/sql_tramos_grafo.sql', 'r') as file:
    query_tramos_grafo = file.read()

In [11]:

# Para cargarlo directamente desse la base de datos Ejecutar la consulta y crear el DataFrame
df_tramos_grafo = pd.read_sql(query_tramos_grafo, con=conn_sigma_aguas)

C:\Users\dsance\AppData\Local\Temp\ipykernel_14800\255727783.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_tramos_grafo = pd.read_sql(query_tramos_grafo, con=conn_sigma_aguas)

In [12]:
df_tramos_grafo.head()

   G3E_FID  NODO1_ID  NODO2_ID  LONGITUD     ESTADO      CUENCA ARRANQUE
0  9223134   9113886   6085537      9.34  OPERACION    LA HUESO       NO
1  9224406   9114334   9114335     15.04  OPERACION  LA MALPASO       NO
2  9224407   9114335   9114336      3.06  OPERACION  LA MALPASO       NO
3  9224409   9114337   9114338     13.12  OPERACION  LA MALPASO       NO
4  9224410   9114338   9114339      3.61  OPERACION  LA MALPASO       NO

In [13]:
# Guardar archivo de Tramos Grafo ("Data Lake")

archivo_tramos_grafo = f'{DIRECTORIO_DATOS}/TRAMOS_GRAFO.csv'
df_tramos_grafo.to_csv(archivo_tramos_grafo, index=False)

#### Extracción y guardado de los Datos Tramos para el modelo

In [14]:
# Leer el archivo SQL para construcción del grafo
with open('../Lib/sql_datos_tramos.sql', 'r') as file:
    query_datos_tramos = file.read()

In [15]:

# Para cargarlo directamente desse la base de datos Ejecutar la consulta y crear el DataFrame
df_datos_tramos = pd.read_sql(query_datos_tramos, con=conn_sigma_aguas)

C:\Users\dsance\AppData\Local\Temp\ipykernel_14800\2096037417.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_datos_tramos = pd.read_sql(query_datos_tramos, con=conn_sigma_aguas)

In [16]:
# Guardar archivo de Tramos Grafo ("Data Lake")

archivo_datos_tramos = f'{DIRECTORIO_DATOS}/DATOS_TRAMOS.csv'
df_datos_tramos.to_csv(archivo_datos_tramos, index=False)